/* Form container */
.register-formulary {
    background: rgba(255, 255, 255, 0.1);
    padding-inline: 2rem;
    padding-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Labels */
.register-formulary label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: 600;
}

/* Input fields */
.register-formulary input {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    font-family: monospace;
    text-align: center;
}

.register-formulary input:focus {
    border-color: #00bcd4;
    background: rgba(255, 255, 255, 0.3);
}

/* Submit Button */
.register-formulary button {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: #2b4f7e;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.register-formulary button:hover {
    background: #312264;
}

/* Error message */
.register-view p {
    margin-top: 1rem;
    color: #ff4d4d;
    font-size: 0.9rem;
    font-weight: bold;
}

#existing-account-button{
    font-weight: bold;
}
#existing-account-button:hover{
    color: rgb(145, 170, 240);
    cursor: pointer;
}

/* ################## RESPONSIVENESS ################### */
@media (max-width: 700px) {
    .register-formulary {
        width: 90%;
    }
}
