.file-upload-container{
    border-radius: 10px;
    background-color: #2B2C3D;
    font-size: 1.0rem;
    width: 30vw;
    box-shadow: 2px 5px 10px #00C7E5;
    border: 2px solid #00C7E5;
    padding-block: 5px;
    padding-inline: 10px;
}
.file-upload-container h3{
    text-align: center;
    color: #00C7E5;
    font-weight: bold;
}
.file-upload-container p{
    font-weight: bold;
    font-size: 0.8rem;
    color: #FFFFFF;
}
.dropzone {
    padding: 1.5rem;
    border: 2px dashed #00C7E5;
    border-radius: 8px;
    background-color: #1E1E2F;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #FFFFFF;
}
.dropzone:hover {
    color: #00C7E5;
}
.clean-uploaded-file-button {
    background-color: #FF6B6B;
    border: none;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.hided{
    background-color: transparent;
    color: transparent;
}

#file-info {
    font-weight: bold;
    color: #00C7E5;
}