.filtering-container{
    background-color: #2B2C3D;
    border: 2px dotted #00C7E5;
    border-radius: 10px;
    width: 30vw;
    color: #FFFFFF;
    text-align: center;
    padding-block: 5px;
    padding-inline: 10px;
}