body{
    background-color:#1E1E2F;
}
#title-text{
    font-family: monospace;
    color: #f3f2a6;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 10px;
    box-shadow: 20px 2px 20px;
}