.file-upload-container{
    border-radius: 10px;
    padding: 20px 20px;
    background-color: rgb(30, 10, 90);
    font-size: 1.2rem;
    margin: 20px 50px;
    width: 45%;
    box-shadow: 2px 5px 10px rgb(218, 149, 149);
}
.file-upload-container h3{
    text-align: center;
    color: #e29b8e;
    font-weight: bold;
}
.file-upload-container p{
    font-weight: bold;
    font-size: 1rem;
}
.dropzone {
    padding: 1.5rem;
    border: 2px dashed #0077ff;
    border-radius: 8px;
    text-align: center;
    background-color: #e6f0ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #e29b8e;
}
.dropzone:hover {
    background-color: #d0e7ff;
    color: #ff6961;
}
.clean-uploaded-file-button {
    position: relative;
    bottom: 70px;
    left: 530px;
    background-color: #ff6961;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.hided{
    background-color: transparent;
    color: transparent;
}

#file-info {
    font-weight: bold;
    color: green;
}